Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps
.libs
config.h
config.h.in*
stamp-h1
cscope.out
ylwrap
src/lex.c
src/parser.c
src/parser.h
testdir/
*.o
*.lo
*.la
